body {
    font: 14px/1.5 Helvetica,Tahoma,Arial,'Hiragino Sans GB','Microsoft YaHei','SimSun','Heiti',sans-serif;
}
a {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:#008cff;
}

/* 公共样式 */
/* 版心 */
.inner-c {
    width: 1240px;
    margin: 0 auto;
}